table{
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
}
th, td{
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}
th{
    background-color: lightgray;
    text-align: center;
}
table th:first-child,
table td:first-child {
  width: 60px;  
}
caption{
    caption-side: top;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
